<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%include "textEditing/Header.html"%}
    <div class="container" style="margin-top:100px; margin-bottom:100px;">
        
        <h1>Welcome to TextEditing APP</h1>

        <form method="post" action="{%url 'EDIT' %}">
             {% csrf_token %}
            <div class="form-group">

                <textarea row=5 cols=20 name="text" placeholder="Enter Text To Edit" style="width:990px; height:250px"></textarea>

            </div>
            <div>
                <input type="radio" name="optype" value="Upper">UpperCase
                <input type="radio" name="optype" value="Lower">LowerCase
                <input type="radio" name="optype" value="Title">TitleCase
            </div>
            <br>
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
     {%include "textEditing/Footer.html"%}
    
</body>
</html>