{% extends 'ors/base.html' %}
{% load static %}

{%block title%}
<title>" User Registration"</title>
{%endblock%}

{%block body%}
<body>
    {% include "ors/Header.html" %}
    {% include 'ors/msg.html' %}

    <div class="container" style="margin-top: 80px; margin-bottom: 80px;">
        <h1>User Registration</h1>
        <form action="{%url 'SIGN_UP'%}" method="post">
            {% csrf_token%}
            <div class="form-group">
                <label>Enter UserName</label>
                <input type="text" name="uname" value="" placeholder="Enter UserName" class="form-control">
            </div>

            <div class="form-group">
                <label>Enter FirstName</label>
                <input type="text" name="Fname" value="" placeholder="Enter FirstName" class="form-control">
            </div>

            <div class="form-group">
                <label>Enter LastName</label>
                <input type="text" name="Lname" value="" placeholder="Enter LastName" class="form-control">
            </div>

            <div class="form-group">
                <label>Enter Email</label>
                <input type="email" name="email" value="" placeholder="Enter Email" class="form-control">
            </div>

            <div class="form-group">
                <label>Enter Password</label>
                <input type="password" name="pwd" value="" placeholder="Enter Password" class="form-control">
            </div>

            <div>
                <input type="submit" value="submit" class="btn btn-info">
            </div>

        </form>

    </div>

    {% include "ors/Footer.html" %}
</body>
{%endblock%}